<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>
	<body>
		<div
			style="
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100vw;
				height: 100vh;
				flex-direction: column;
			"
		>
			<h1 style="color: lightgrey">Please wait...</h1>
			<form name="f1" method="post" action="/price_set">
				<input type="text" id="price" name="price" hidden />
				<!-- <button type="submit">Pay</button> -->
			</form>
		</div>
		<!-- <h1>Paypal</h1> -->
	</body>
</html>
